
.card-title {
    text-align: center;
    color: #00b2a9;
    
}

 

#start {
     background-color:#00b2a9;
    border: #00b2a9;
}



 #footer {
     grid-area: footer;
    background-color:#C9E3DB;
      }

.list-inline-item {
    font-size:170%;
        }

#footer a { color: black;
}



@media only screen and (min-width: 1241px) { .text {
    margin: 200px auto; }
}

@media only screen and (max-width: 1240px) { .text {
    margin: 200px auto; 
    }}

@media only screen and (max-width: 975px)  { .text {
    margin: 150px auto; 
    }}

@media only screen and (max-width: 655px) { .text {
    margin: 50px auto; 
    }
    #select { padding-bottom: 10px;}
    

}

.text {
    text-align: center;

}
